body {
    background-image: url('00.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: black; /* 全局文字颜色设置为黑色 */
}

#footerText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black; /* 黑色文字 */
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
    padding: 10px;
    border-radius: 5px;
}

#clock {
    color: black; /* 设定当前时间的颜色为黑色 */
}

#alarmMessage {
    color: black; /* 设定闹钟提示信息的颜色为黑色 */
}
