body {
    background-image: url('00.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

#alarmVideo {
    pointer-events: none;
    display: none; /* 默认隐藏视频 */
    width: 800px;
    height: 450px;
    object-fit: contain;
}

/* 设置提示信息为深粉色 */
#alarmMessage {
    color: #D5006D; /* 修改文本颜色为深粉色 */
    font-size: 64px; /* 修改为64px */
    font-weight: bold;
}

/* 增大时间文字样式 */
#clock {
    font-size: 64px; /* 修改为64px */
    color: #D5006D; /* 设置字体颜色为粉色 */
    font-weight: bold;
    margin-top: 10px;
}

/* 布局 */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.text-container {
    margin-left: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* 漂浮图片样式 */
#floatingImage {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: float 10s ease-in-out infinite;
    width: 150px;
}

/* 左右漂浮动画 */
@keyframes float {
    0% {
        transform: translate(-60%, 0) scaleX(1);
    }
    25% {
        transform: translate(-100%, 0) scaleX(1);
    }
    50% {
        transform: translate(40vw, 0) scaleX(-1);
    }
    75% {
        transform: translate(100%, 0) scaleX(-1);
    }
    100% {
        transform: translate(-60%, 0) scaleX(1);
    }
}

/* 左下角文本样式 */
#footerText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black; /* 修改为黑色 */
    font-size: 24px; /* 保持为24px，可以根据需要调整 */
    background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
    padding: 10px;
    border-radius: 5px;
}
